<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <header>
        <h1>Escola XYZ</h1>
        <nav>
            <a href="#">Página Inicial</a>
            <a href="#">Calendário</a>
            <a href="#">Notícias</a>
            <a href="#">Contato</a>
            <a href="#">Login Aluno</a>
            <a href="#">Login Professor</a>
            <a href="#">Login Administrador</a>
        </nav>
    </header>

</body>

</html>